{% load static}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Patient Appointment Management System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app1/style.css'%}">
</head>
<body>
    <div class="logo">
        <div>
            <h1>Hospital Patient Appointment Management System</h1>
        </div>
        <div>
            <nav>
                <a>Add Doctor</a>
                <a>Doctor List </a>
                <a>Add Patients</a>
                <a>Patients List </a>
                <a>Appointment</a>
                <a>Appointment List</a>
            </nav>

        </div>
    </div>
</body>
</html>