{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Patient Appointment Management System</title>
    
</head>
<body class="">
    <div class="logo">
        <div>
            <h1>Hospital Patient Appointment Management System</h1>
        </div>
        <div>
            <nav>
                <a href="{% url 'doctoradd' %}" class="text-blue-200">Add Doctor</a>
                <a>Doctor List </a>
                <a>Add Patients</a>
                <a>Patients List </a>
                <a>Appointment</a>
                <a>Appointment List</a>
            </nav>

        </div>
    </div>
    
</body>
</html>